<div class="container">
	@if (producto) {
	<mat-card class="card">
		<mat-card-header class="title">
			<mat-card-title-group>
				<mat-card-title class="title__text">{{ producto.name | uppercase }}</mat-card-title>
				<mat-card-subtitle>Medium</mat-card-subtitle>
				<div>
					@if (producto?.imagePath) {
					<img mat-card-xl-image src="http://localhost:8080/api/productos/uploads/img/{{ producto.imagePath }}" alt="{{ producto.imagePath }}" />
					}@else {
					<img mat-card-xl-image src="http://localhost:8080/api/productos/uploads/img/no_product.png" alt="{{ producto.imagePath }}" />
					}
					<form [formGroup]="formGroup">
						<div class="input-group mb-3 mt-3">
							<input (change)="selectFile($event)" type="file" class="form-control" id="file" formControlName="imagePath" />
							<button mat-button [disabled]="formGroup.invalid" (click)="upload()" class="btn btn-primary">Subir</button>
						</div>
					</form>
				</div>
			</mat-card-title-group>
		</mat-card-header>

		<mat-card-content>
			<mat-list role="list">
				@for(item of producto | keyvalue; track item){
				<mat-list-item role="listitem">
					<span>{{ item.key | uppercase }}:</span>
					<span>{{ item.value }}</span>
				</mat-list-item>
				}
			</mat-list>
		</mat-card-content>
		<mat-card-actions>
			<button mat-flat-button role="button" color="primary" (click)="goUpdate()">Editar producto</button>
			<button mat-flat-button color="warn"  (click)="goBack()" type="button">Volver</button>
		</mat-card-actions>
	</mat-card>
	}
</div>
