<div class="container container-fluid" *ngIf="producto">
    <div class="raw">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">DETALLE {{producto.name|uppercase}}</h1>
                </div>
                <div class="card-body">
                    <div class="grid-container ">
                        <div class="grid-item">
                            <ul class="list-group" *ngFor="let item of producto|keyvalue">
                                <li *ngIf="item.key!='imagePath' && item.key!='id'" class="list-group-item">
                                    <span class="fw-bold fs-3">{{item.key|uppercase}}:</span>
                                    <span class="fs-4">{{item.value}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="grid-item ">
                            <img class="img-fluid"
                                src="https://hiraoka.com.pe/media/mageplaza/blog/post/c/o/como_saber_que_tarjeta_grafica_tengo_en_mi_laptop_o_pc.jpg"
                                alt="">

                            <div class="input-group mb-3 mt-3">                                
                                <input type="file" class="form-control" id="file">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" role="button" (click)="goUpdate()" >Editar producto</button>
                <a routerLink="/admin" class="btn btn-danger" type="button">Volver a lista de productos</a>
            </div>
        </div>
    </div>
</div>