<ul *ngIf="paginas?.length" class="pagination">
    <li class="page-item" [ngClass]="paginator.first ? 'disabled' : ''">
        <span class="page-link" *ngIf="paginator.first">Primero</span>
        <button class="page-link" *ngIf="!paginator.first" (click)="goPage(0)">Primero</button>
    </li>
    <li class="page-item" *ngIf="!paginator.first">
        <button class="page-link" (click)="goPage(paginator.number - 1)">&laquo;</button>
    </li>
    <li *ngFor="let pagina of paginas" class="page-item" [ngClass]="(pagina - 1) === paginator.number ? 'active' : ''">
        <span class="page-link" *ngIf="(pagina - 1) === paginator.number">{{ pagina }}</span>
        <button *ngIf="(pagina - 1) !== paginator.number" class="page-link" (click)="goPage(pagina - 1)">{{ pagina }}</button>
    </li>
    <li class="page-item" *ngIf="!paginator.last">
        <button class="page-link" (click)="goPage(paginator.number + 1)">&raquo;</button>
    </li>
    <li class="page-item" [ngClass]="paginator.last ? 'disabled' : ''">
        <span class="page-link" *ngIf="paginator.last">Ultimo</span>
        <button class="page-link" *ngIf="!paginator.last" (click)="goPage(paginator.totalPages - 1)">Ultimo</button>
    </li>
</ul>
