<div class="row">
    <div class="col-9">
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
            <button class="btn btn-primary">Buscar</button>
        </div>
    </div>

</div>

<ul *ngFor="let producto of productos" class="list-group">
    <li class="list-group-item m-1">
        <div class="row">
            <div class="col-12">
                <span (click)="goDetail(producto.id)"
                    class="fs-4 text-center fw-bolder clickeable">{{producto.name|uppercase}}</span>
            </div>
            <div class="col-6">
                <img class="img-fluid clickeable fixed-size-image" (click)="goDetail(producto.id)"
                    *ngIf="producto?.imagePath"
                    src="http://localhost:8080/api/productos/uploads/img/{{producto.imagePath}}" alt="">
                <img class="img-fluid clickeable fixed-size-image" (click)="goDetail(producto.id)"
                    *ngIf="!producto?.imagePath" src="http://localhost:8080/api/productos/uploads/img/no_product"
                    alt="">
            </div>
            <div class="col-6">
                <p class="fs-7"><strong>Precio:</strong> {{producto.price|currency:'USD':'symbol':'1.2-2'}}</p>
                <p class="fs-7"><strong>Tipo de producto:</strong> {{producto.tipo}}</p>
                <p class="fs-7"><strong>Marca:</strong> {{producto.marca}}</p>
                <p class="fs-7"><strong>Cantidad disponible:</strong> {{producto.quantity}}</p>
            </div>
        </div>
    </li>
</ul>
<div class="row">
    <div class="col-9 col-md-auto">
        <paginator [paginator]="paginator" *ngIf="paginator"></paginator>
    </div>
</div>