<div class="container">
	<mat-card class="card">
		<mat-card-header class="title">
			@if (sharedMarca) {
			<mat-card-title class="title__text">ACTUALIZAR {{ sharedMarca.name.toUpperCase() }}</mat-card-title>
			}@else {
			<mat-card-title class="title__text">REGISTRA UNA NUEVA MARCA</mat-card-title>
			}
		</mat-card-header>
		<img mat-card-image src="https://imagenes.expreso.ec/files/image_700_402/uploads/2020/07/12/5f0b96b1b03c4.jpeg" alt="Photo of a Shiba Inu" />
		<mat-card-content>
			<form class="form" [formGroup]="formGroup">
				<mat-form-field appearance="outline">
					<mat-label>Nombre de la marca:</mat-label>
					<input matInput type="text" formControlName="name" />
					<mat-error> {{ getErrorField(formGroup, 'name') }} </mat-error>
				</mat-form-field>

				<button [hidden]="sharedMarca" [disabled]="formGroup.invalid" mat-raised-button color="primary" (click)="register()">Registrarse</button>
				<button [hidden]="!sharedMarca" [disabled]="formGroup.invalid" mat-raised-button color="primary" (click)="update()">Actualizar</button>
				<button mat-raised-button color="warn" (click)="goBack()">Volver</button>
			</form>
		</mat-card-content>
	</mat-card>
</div>
