<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container" *ngIf="producto">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{producto.name|uppercase}}</h3>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center">
                        @if (producto?.imagePath) {
                        <img class="img-fluid"
                            src="http://localhost:8080/api/productos/uploads/img/{{producto.imagePath}}"
                            alt="{{producto.imagePath}}" style="height: 70%; width: 80%;">
                        }@else {
                        <img class="img-fluid" src="http://localhost:8080/api/productos/uploads/img/no_product.png"
                            alt="{{producto.imagePath}}" style="height: 70%; width: 80%;">
                        }

                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">Descripcion del producto</h4>
                    <p>{{producto.description}}</p>

                    <label for="quantity" class="form-label">Cantidad disponible {{producto.quantity}}</label>
                    <select [formControl]="quantity" id="quantity" class="form-select form-select-sm select" name=""
                        id="">
                        <option *ngFor="let i of generateQuantities()" value="{{i}}" #quantity> {{i}}</option>
                    </select>

                    <h2 class="mt-5">
                        {{producto.price|currency:'USD':'symbol':'1.2-2'}}<small class="text-success">(36% de
                            descuento)</small>
                    </h2>

                    @if (!isInCart()) {
                    <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title="" (click)="addToCart()"
                        data-original-title="Add to cart">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                    }@else{
                    <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title="" (click)="deleteFromCart()"
                        data-original-title="Add to cart"> Eliminar del carrito
                    </button>
                    }

                    <button class="btn btn-primary btn-rounded" (click)="buy()">Comprar ahora</button>
                    <h3 class="box-title mt-5">Detalles claves</h3>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-success"></i>{{producto.tipo}}</li>
                        <li><i class="fa fa-check text-success"></i>{{producto.marca}}</li>
                        <li><i class="fa fa-check text-success"></i>{{producto.name}}</li>
                    </ul>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 class="box-title mt-5">General Info</h3>
                    <div class="table-responsive">
                        <table class="table table-striped table-product">
                            <tbody>
                                <tr>
                                    <td width="390">Marca</td>
                                    <td>{{producto.marca}}</td>
                                </tr>
                                <tr>
                                    <td>Tipo</td>
                                    <td>{{producto.tipo}}</td>
                                </tr>
                                <tr>
                                    <td>Descripcion</td>
                                    <td>{{producto.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="btn-group">
                    <button (click)="volverPaginaAnterior()" class="btn btn-danger">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>