<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <form [formGroup]="formGroup" *ngIf="!registered">
              <h2 class="fw-bold mb-5">Registrarse</h2>
              <div class="form-outline mb-4">
                <label class="form-label" for="username">Nombre de usuario:</label>
                <input [ngClass]="{'border border-danger':isTouchedField(formGroup,'username')}"
                  formControlName="username" type="text" id="username" class="form-control" />
                <span class="text-danger font-italic">{{getErrorField(formGroup,'username')}}</span>
              </div>

              <!-- Password inputs -->
              <div class="form-outline mb-4">
                <label class="form-label" for="password">Contraseña:</label>
                <input [ngClass]="{'border border-danger':isDirtyField(formGroup,'password')}"
                  formControlName="password" type="password" id="password" class="form-control" />
                <span class="text-danger font-italic">{{getErrorField(formGroup,'password')}}</span>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="repeatPassword">Repita la contraseña:</label>
                <input [ngClass]="{'border border-danger':isTouchedField(formGroup,'repeatPassword')}"
                  formControlName="repeatPassword" type="password" id="repeatPassword" class="form-control" />
                <span class="text-danger font-italic">{{getErrorField(formGroup,'repeatPassword')}}</span>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="email">Direccion de correo electronico:</label>
                <input [ngClass]="{'border border-danger':isDirtyField(formGroup,'email')}" formControlName="email"
                  type="email" id="email" class="form-control" />
                <span class="text-danger font-italic">{{getErrorField(formGroup,'email')}}</span>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="telephone">Numero de telefono:</label>
                <input [ngClass]="{'border border-danger':isDirtyField(formGroup,'telephone')}" type="text"
                  formControlName="telephone" id="telephone" class="form-control" />
                <span class="text-danger font-italic">{{getErrorField(formGroup,'telephone')}}</span>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="address">Direccion:</label>
                <input [ngClass]="{'border border-danger':isDirtyField(formGroup,'address')}"
                  formControlName="address" type="text" id="address" class="form-control" />
                <span class="text-danger font-italic">{{getErrorField(formGroup,'address')}}</span>
              </div>
              <div *ngIf="formGroup.hasError('mismatch')" class="alert alert-danger" role="alert">
                <span class="text text-center">Las contraseñas no coinciden</span>
              </div>
              
              <div class="d-grid gap-2">
                <!-- Submit button -->
                <button (click)="register()" [disabled]="formGroup.invalid" type="submit"
                  class="btn btn-primary">
                  Registrarse
                </button>
                <a class="btn btn-dark" [routerLink]="['/autenticacion/inicio-sesion']">Volver a login</a>
              </div> 
            </form>
            <div *ngIf="registered" class="alert alert-success" role="alert">
              <p class="fs-3 text-center">Registro exitoso su contraseña es:</p>
              <span class="fs-1 text-center fw-bolder">asddasd{{passwordGenerated}}</span>
              <p class="fs-3 text-center">Guardala en un lugar seguro, ya que no se puede recuperar</p>
            </div>            
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https://cuarteldelmetal.com/wp-content/uploads/2023/07/armado-pc-gamers-sp-digital.jpg"
          class="w-100 rounded-4 shadow-4" alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->