<div class="container">
	<mat-card class="card">
		<mat-card-header class="title">
			<mat-card-title-group>
                
				@if (sharedTipo) {
				<mat-card-title class="title__text">ACTUALIZAR {{ sharedTipo.name.toUpperCase() }}</mat-card-title>
				}@else {
				<mat-card-title class="title__text">REGISTRA UN NUEVO TIPO DE PRODUCTO</mat-card-title>
				}
                <img mat-card-xl-image src="https://img.freepik.com/vector-gratis/ilustracion-moderna-concepto-computadora-escritorio_114360-16235.jpg" >
			</mat-card-title-group>
		</mat-card-header>
		<mat-card-content>
			<form class="form" [formGroup]="formGroup">
				<mat-form-field appearance="outline">
					<mat-label>Nombre del tipo:</mat-label>
					<input matInput type="text" formControlName="name" />
					<mat-error> {{ getErrorField(formGroup, 'name') }} </mat-error>
				</mat-form-field>
				<!--
                    Grid list de agunlar para agrupar los elementos en forma de matriz
                -->
				<mat-grid-list cols="2" rowHeight="2:1">
					<mat-grid-tile>
						<select class="select-multiple" multiple size="{{ marcas?.length }}">
							<option *ngFor="let marca of marcasLeft" (click)="moveRigth(marca)" [value]="marca.id">
								{{ marca.name }}
							</option>
						</select>
					</mat-grid-tile>
					<mat-grid-tile>
						<select class="select-multiple" multiple size="{{ marcas?.length }}">
							<option *ngFor="let marca of marcasRigth" (click)="moveLeft(marca)">{{ marca.name }}</option>
						</select>
					</mat-grid-tile>
					<mat-grid-tile [colspan]="2">
						<button (click)="resetSides()" mat-flat-button color="primary">Restablecer</button>
					</mat-grid-tile>
				</mat-grid-list>
				<button [hidden]="sharedTipo" [disabled]="formGroup.invalid" mat-raised-button color="primary" (click)="register()">Registrarse</button>
				<button [hidden]="!sharedTipo" [disabled]="formGroup.invalid" mat-raised-button color="primary" (click)="update()">Actualizar</button>
				<button mat-raised-button color="warn" (click)="goBack()">Volver</button>
			</form>
		</mat-card-content>
	</mat-card>
</div>
