<div class="container">
	<mat-card class="card">
		<mat-card-header>
			<mat-card-title class="card__title">Mi carrito</mat-card-title>
			<mat-card-subtitle>Selecciona tus productos</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			@if(listaCarrito?.length==0){
			<span>No hay elementos registrados en el carrito</span>
			}@else {
			<mat-list role="list">
				@for(producto of listaCarrito; track producto.id){
				<mat-list-item role="listitem" class="list-item">
					@if(producto?.imagePath){
					<img
						matListItemIcon
						class="img-fluid clickeable"
						(click)="goBuy(producto.id)"
						src="http://localhost:8080/api/productos/uploads/img/{{ producto.imagePath }}"
						alt=""
					/>
					}@else{
					<img
						matListItemIcon
						class="img-fluid clickeable"
						(click)="goBuy(producto.id)"
						src="http://localhost:8080/api/productos/uploads/img/no_product"
						alt=""
					/>
					}
					<span (click)="goBuy(producto.id)" class="card-content__limit-text" matListItemTitle class="clickeable">{{
						producto.name | uppercase
					}}</span>
					<span matListItemMeta><strong>Unidades disponible:</strong> {{ producto.quantity }}</span>
					<span matListItemMeta>Cantidad:</span>
					<select matListItemMeta #quantity (change)="updateQuantity(quantity.value, producto.id)" id="quantity" name="quantity">
						@for(i of generateQuantities(producto.quantity);track i){
						<option value="{{ i }}" #quantity>{{ i }}</option>
						}@empty {
						<p>no hay unidades disponibles</p>
						}
					</select>

					<input
						matListItemMeta
						class="form-check-input"
						type="checkbox"
						[checked]="producto.checked"
						(change)="updateChecked($event, producto.id)"
					/>
				</mat-list-item>
				<hr />
				}
			</mat-list>
			}
		</mat-card-content>
		<mat-card-actions>
			<button (click)="generateDetail()" mat-button>GENERAR COMPRA</button>
		</mat-card-actions>
	</mat-card>
</div>
