<div class="container">
    <p class="fs-1 text-center fw-bold">MI CARRITO</p>
    @if (listaCarrito?.length==0) {
    <div class="text-center">
        <span class="alert alert-danger fs-2">No hay elementos registrados</span>
    </div>
    }@else{
    <ul *ngFor="let producto of listaCarrito" class="list-group">
        <li class="list-group-item m-1">
            <div class="row">
                <div class="col-12">
                    <span (click)="goBuy(producto.name)" class="fs-4 text-center fw-bolder clickeable">{{ producto.name|
                        uppercase}}</span>
                </div>
                <div class="col-6">
                    <img class="img-fluid clickeable fixed-size-image " (click)="goBuy(producto.name)"
                        *ngIf="producto?.imagePath"
                        src="http://localhost:8080/api/productos/uploads/img/{{producto.imagePath}}" alt="">
                    <img class="img-fluid clickeable fixed-size-image " (click)="goBuy(producto.name)"
                        *ngIf="!producto?.imagePath" src="http://localhost:8080/api/productos/uploads/img/no_product"
                        alt="">
                </div>
                <div class="col-3">
                    <p class="fs-7">
                        <strong>Precio:</strong>{{ producto.price | currency : "USD" : "symbol" : "1.2-2" }}
                    </p>
                    <p class="fs-7"><strong>Tipo de producto:</strong> {{ producto.tipo }}</p>
                    <p class="fs-7"><strong>Marca:</strong> {{ producto.marca }}</p>
                    <p class="fs-7"><strong>Unidades disponible:</strong> {{ producto.quantity }}</p>
                </div>
                <div class="col-3 col">
                    <label for="quantity" class="form-label"><strong>Seleccionar cantidad</strong></label>
                    <label for="quantity" class="form-label">Cantidad disponible {{producto.quantity}}</label>
                    <select #quantity (change)="updateQuantity(quantity.value, producto.id)" id="quantity" class="form-select form-select-sm select" name="" id="">
                        <option *ngFor="let i of generateQuantities(producto.quantity)" value="{{i}}" #quantity> {{i}}
                        </option>
                    </select>
                    <button class="btn btn-dark btn-rounded mr-1 mt-3" data-toggle="tooltip" title=""
                        (click)="deleteFromCart(producto)" data-original-title="Add to cart"> Eliminar del carrito
                    </button>
                </div>
            </div>
        </li>
    </ul>
    }
    <button (click)="buyAll()">comprar todo</button>
</div>