.products {
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

  .card {
    max-width: 400px;
    height: 620px;
    &__image {
      width: 100%;
      height: auto;
      max-height: 300px;
      object-fit: cover;
      cursor: pointer;
    }

    &__title {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    &__title:hover {
      color: #1d88d9;
    }

    &__content {
      flex: 1;
    }

    &__description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6; /* Número de líneas a mostrar */
      -webkit-box-orient: vertical;
    }
    &__price {
      font-weight: bold;
      font-size: x-large;
    }
  }
}
