<search (searchValueEvent)="search(0, $event)"></search>
<div class="products">
	@for(producto of productos;track producto.id){
	<mat-card class="card">
		<mat-card-header>
			<mat-card-title class="card__title" (click)="goBuy(producto.id)">{{ producto.name }}</mat-card-title>
			<mat-card-subtitle>{{ producto.tipo }}</mat-card-subtitle>
		</mat-card-header>
		@if (producto.imagePath) {
		<img
			(click)="goBuy(producto.id)"
			mat-card-image
			class="card__image"
			src="http://localhost:8080/api/productos/uploads/img/{{ producto.imagePath }}"
		/>
		}@else{
		<img (click)="goBuy(producto.id)" mat-card-image class="card__image" src="http://localhost:8080/api/productos/uploads/img/no_product" />
		}
		<mat-card-content class="card__content">
			<p class="card__description">
				{{ producto.description }}
			</p>
			<p class="card__description">
				{{ producto.marca }}
			</p>
			<p class="card__price">
				{{ producto.price | currency : 'USD' : 'symbol' : '1.2-2' }}
			</p>
		</mat-card-content>
		<mat-card-actions>
			@if (!isInCart(producto)) {
				<button mat-raised-button (click)="addToCart(producto)" color="primary">Agregar al carrito</button>
			}@else {
				<button mat-raised-button (click)="deleteFromCart(producto)" color="warn">Eliminar del carrito</button>
			}
		</mat-card-actions>
	</mat-card>
	}
</div>
@if (!searchState) {
<mat-paginator
	(page)="getProductosByPage($event.pageIndex)"
	[length]="collectionSize"
	[pageIndex]="page"
	[pageSize]="pageSize"
	[showFirstLastButtons]="true"
	aria-label="Select page"
>
</mat-paginator>
}@else{
<mat-paginator
	(page)="search($event.pageIndex, searchValue)"
	[length]="collectionSize"
	[pageIndex]="page"
	[pageSize]="pageSize"
	[showFirstLastButtons]="true"
	aria-label="Select page"
>
</mat-paginator>
}
